                  /*GENERAL*/  
:root {
    --header-padding-top: 35px;
    --header-padding-bottom: 23px;
    --main-blue-color: #0065fc;
    --main-bluelight-color: #DEEBFF;
    --main-grey-color: #D9D9D9;
    --body-margin-left: 5px;
    --box-shadow: 0px 10px 0px 0px silver;
}
body {
    font-family: "raleway" ,sans-serif;
    margin:  0 50px 0 50px;
}                                   
a {
    text-decoration: none;
}


                    /*HEADER*/ 
                    
@media screen and (max-width: 1400px) and (min-width: 992px) {
    
}
.navigation {
    display: flex;
    justify-content: space-between;
}
.imagebooki {
    width: 4%;
    padding-top: var(--header-padding-top);

}
.hebergementsetactivites {
    display: flex;
    justify-content: space-around;
    width: 26%;
}
.Hebergements, .Activites {
    border-top: 2px solid white;
    padding-top: var(--header-padding-top);
} 
.Hebergements:hover, .Activites:hover {
    border-top: 2px solid var(--main-blue-color)
}
.link {
    color: black;
}
.link:hover {
    color: var(--main-blue-color);
}


                     /*TITRE*/
.premiertitre {
    margin-top: 63px;
    width: 45%;
}
.premiertexte {
    margin-top: 8px;
}
                        /*FORMULAIRE*/

.form {
    display: flex;
    margin-top: 20px;
    border-radius: 7px 7px 7px 7px;
}
.label {
    border-radius: 15px 0px 0px 15px; 
    background: #f2f2f2;
    width: 0.5%;
    height: 13px;
    padding: 15px;
}

.input {
    width: 12%;
    height: 38px;
    border: 1px solid grey;
}
button {
    border: none;
    color: white;
    background-color: var(--main-blue-color);
    border-radius: 0 15px 15px 0;
    width: 5%; 
    height: 42px;
    cursor: pointer;
}
#loupe {
    color: white;
}

                                /*FILTRES*/ 
.filtres {
    margin-top: 46px;
    display: flex;
    align-items: center;
    width: 49%;
}
.economiqueetfamilial {
    display: flex;
}
.romantiqueetanimauxautorises{
    display: flex;
}
.i1 , #i1 {
    border: 2px solid var(--main-grey-color);
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    margin-left: 52px;
}

.info {
    display: flex;
    align-items: center;
}

.i1:hover, .animaux:hover {
    background: var(--main-bluelight-color);
}

#icon-i {
    border: 1px solid var(--main-grey-color);
    border-radius: 100px;
    text-align: center;
    width: 1%;
    margin-right: 20px;
    color: var(--main-blue-color);
}
#iconefiltresbleu1, #iconefiltresbleu2, #iconefiltresbleu3, #iconefiltresbleu4 {
    color: var(--main-blue-color);
    margin: 0 10px 0 10px;
}

                        /*hebergements a marseille*/

.flexaround {
    display: flex;
}
.sizehebergements {
    flex: 2;
    width: 880px;
    height: 626px;
    border-radius: 20px;
    margin: 0 40px 0 0; 
}
.backgris {
    background-color: rgba(242, 242, 242, 1);
}
.titreHebergementsaMarseille {
    margin: 42px 0 23px 40px;
}
.titredelhoteletletexte {
    margin: 0 0 9px 16px;
}

.bloc1 {
    display: flex;
    justify-content: space-around;
}
.blocimagehebergements {
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}
.divetoile {
    margin-left: 15px;
}
#etoilebleu1, #etoilebleu2, #etoilebleu3 {
    color: var(--main-blue-color);
}
#etoilebleu4, #etoilebleu5, #etoilebleu6 {
    color: var(--main-blue-color);
}
#etoilebleu7, #etoilebleu8, #etoilebleu9 {
    color: var(--main-blue-color);
}
#etoilebleu10, #etoilebleu11, #etoilebleu12 {
    color: var(--main-blue-color);
}
#etoilebleu13, #etoilebleu14, #etoilebleu15 {
    color: var(--main-blue-color);
}
#etoilebleu16, #etoilebleu17, #etoilebleu18 { 
    color: var(--main-blue-color);
}
#etoilebleu19, #etoilebleu20, #etoilebleu21 {
    color: var(--main-blue-color);
}
#etoilebleu19, #etoilebleu20, #etoilebleu21 {
    color: var(--main-blue-color);
} 
#etoilebleu22, #etoilebleu23, #etoilebleu24 {
    color: var(--main-blue-color);
}  
#etoilebleu25, #etoilebleu26, #etoilebleu27 {
    color: var(--main-blue-color);
} 
#etoilebleu28, #etoilebleu29, #etoilebleu30 {
    color: var(--main-blue-color);
}
#etoilebleu31, #etoilebleu32, #etoilebleu33 {
    color: var(--main-blue-color);
}
#etoilebleu34, #etoilebleu35, #etoilebleu36 {
    color: var(--main-blue-color);
}
#etoilegrise1, #etoilegrise2, #etoilegrise3 {
    color: var(--main-grey-color);
}
#etoilegrise4, #etoilegrise5, #etoilegrise6 {
    color: var(--main-grey-color);
}
#etoilegrise7, #etoilegrise8, #etoilegrise9 {
    color: var(--main-grey-color);
}
.bloc2 {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.cubehebergements {
    width: 246px; 
    height: 199px;
    margin: 0px 0px 0px 0px; 
}
.imghebergements {
    object-fit: cover;
    border: 5px solid #FFFFFF;
    width: 246px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;

}
.afficherplus {
    margin: 40px 0 0 44px;
}
                   /*LES PLUS POPULAIRES*/

.sizepopulaires {
    flex: 1;
    height: 626px;
    width: 420px;            
    border-radius: 20px;
    margin: 0 50px 0 0;
          
}                   
.bloc3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .titreeticonelespluspopulaires {
    display: flex;
    justify-content: space-around;
    width: 90%;
    
}
.titrelespluspopulaires {
    margin-top: 41px;
}                   

#iconelespluspopulaires {
    color: blue;
    margin-top: 40px;
}
.cubedetailpopulaires {
    margin-left: 15px;
}
.divetoilepopulaires {
    margin-top: 44px;
}
.divetoilepopulaires3 {
    margin-top: 64px;
}
.blocimage7 {
    background: #FFFFFF;
    border-radius: 20px; 
    width: 343px;
    height: 155px;
    margin-bottom: 30px;
    display: flex;
    box-shadow: var(--box-shadow);
}
.blocimage8 {
    background: #FFFFFF;
    border-radius: 20px; 
    Width: 343px;
    height: 155px;
    margin-bottom: 30px;
    display: flex;
    box-shadow: var(--box-shadow);
}
.blocimage9 {
    background: #FFFFFF;
    border-radius: 20px; 
    width: 343px;
    height: 155px;
    display: flex;
    box-shadow: var(--box-shadow);
}
.imgpopulaires {
    width: 137px;
    height: 144px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}


                   /*ACTIVITES A MARSEILLE*/ 


.les4imagesactivitesamarseille {
    display: flex;
    justify-content: space-between;
}
.titreActivitesaMarseille {
    margin: 60px 0 18.47px 0;
    width: 212px;
    height: 30px;
}
.imagesactivites {
    width: 302px;
    height: 389px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.imagesVieux-Port, .imagesFortdepomegues, .imagesParcnationaldesCalanques, .imagesNotre-DamedelaGarde {
    height: 440px;
    box-shadow: var(--box-shadow);
    border-radius: 0px 0px 20px 20px;
}
.cubedetailactivites {
    margin-left: 15px;
}

                    /*FOOTER*/
footer {
    background-color: #F2F2F2;
    margin-top: 61px;
}
.apropos {
    margin-top: 35px;
}
.noshebergements {
    margin-top: 35px;
}
.Assistance {
    margin-top: 35px;
}
.aproposnoshebergementsAssistance {
    justify-content: space-around;
    display: flex;
}
                    /*TABLETTE*/

@media screen and (max-width: 992px) {
    /*HEADER*/
    .imagebooki {
        width: 61.09px;
    }
    .premiertitre {
        width: 59%;
    } 
    /*FORMULAIRE*/ 
    .input {
        width: 28%;
        height: 38px;
        border: 1px solid var(--main-grey-color);
    }
    .button {
        width: 10%;
        color: white;
    }
    /*FILTRES*/
    .filtres {
        width: 98%;
    }
    .i1, #i1 {
        margin-left: 34px;
    }
    /*HEBERGEMENTS A MARSEILLE*/
    .flexaround {
        display: flex;
        flex-direction: column;
    }
    .sizehebergements {
        width: 880px;
        height: 626px;
    }
    .sizepopulaires {
        margin-top: 50px;
        width: 883px;
        height: 278px;

    }
    .titreeticonelespluspopulaires {
        display: flex;
        justify-content: space-between;
        width: 94%;
        margin: 0 0 20px 28px;
    }  
    .bloc3 {
        display: flex;
        flex-direction: inherit;
        justify-content: space-around;
        align-items: baseline;
    }
    .blocimage7, .blocimage8, .blocimage9 {
        display: flex;
        width: 28%;
    }
     /*LES PLUS POPULAIRES*/
    .divetoilepopulaires {
        margin: 0;
    }
    .divetoilepopulaires3 {
        margin-top: 34px;
    }
    .imgpopulaires {
        width: 106px; 
        height: 144px;
          
    }
    .imagesactivites {
        width: 182px;
        height: 267px;
    }
    .afficherplus {
        margin: 40px 0 46px 44px;
    }
    /*ACTIVITES A MARSEILLE*/
    .imagesVieux-Port, .imagesFortdepomegues, .imagesParcnationaldesCalanques, .imagesNotre-DamedelaGarde {
    height: 330px;
    }
    .imagesParcnationaldesCalanques, .imagesNotre-DamedelaGarde {
        width: 21%;
    }
}
                                        /*MOBILE*/

 @media screen and (max-width: 412px) {
    /*HEADER*/
    body {
        margin: 0;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    .hebergementsetactivites {
        width: 115%;
    }
    .Hebergements, .Activites {
        border-bottom: 1px solid white;
        padding-bottom: var(--header-padding-bottom);
    }
    .Hebergements:hover, .Activites:hover {
        border-bottom: 2px solid var(--main-blue-color);
        border-top: none;
        color: var(--main-blue-color);
    }
    .link {
        color: black;
    }
    .link:hover {
        color: var(--main-blue-color);
    }
    .premiertitre {
        width: 66%;
        margin-top: 30px;
        margin-left: var(--body-margin-left)
    }
    .premiertexte {
        margin-left: var(--body-margin-left)
    }
    /*FORMULAIRE*/
    .form {
        margin-left: var(--body-margin-left)
    }
    .label {
        width: 2%;
    }
    .input {
        width: 75%;
    }
    .button {
        display: flex;
        color: transparent;
    }
    #loupe {
        margin-left: -28px;
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;
    }
    .rechercher {
        display: none;
    }
    /*FILTRES*/
    .filtres {
        display: block;
    }
    .economiqueetfamilial {
        display: flex;
        justify-content: space-around;
        width: 78%;
    }
    .romantiqueetanimauxautorises {
        display: flex;
        justify-content: space-around;
    }
    .i1, #i1 {
        margin: 0;
        margin-bottom: 20px;
    } 
    .titrefiltres {
        margin: var(--body-margin-left);
        margin-bottom: 20px;
    }
    #icon-i {
        margin: var(--body-margin-left);
    }
    .texteinformation {
        margin-left: 10px;
        width: 72%;
    }
    /*LES PLUS POPULAIRES*/
    .flexaround {
        display: flex;
        flex-direction: column-reverse;
    }
    .sizepopulaires {
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .titreeticonelespluspopulaires {
        width: 90%;
    }
    .bloc3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blocimage7, .blocimage8, .blocimage9 {
        width: 74%;
    }
    .divetoilepopulaires {
        margin-top: 55px;
    }
    .divetoilepopulaires3 {
        margin-top: 74px;
    }
    .blocimage9 {
        margin-bottom: 30px;
    }
    

    /*HEBERGEMENTS A MARSEILLE*/
    .sizehebergements {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: white;
    }
    .bloc1 {
        display: flex;
        flex-direction: column;
        margin-bottom: -30px;
    }
    .imghebergements {
        width: 335px;
        height: 124px;
    }
    .blocimagehebergements {
        margin-bottom: 15px;
    }
    .bloc2 {
        display: flex;
        flex-direction: column;
    }
    .afficherplus {
        display: none;
    }
    /*ACTIVITES A MARSEILLE*/
    .cardActivitesaMarseille {
        margin-left: 35px;
    }
    .titreActivitesaMarseille {
        margin-left: 10px;
        width: 25%;
    }
    .les4imagesactivitesamarseille {
        display: flex;
        flex-direction: column;
    }
    .imagesVieux-Port, .imagesFortdepomegues, .imagesParcnationaldesCalanques, .imagesNotre-DamedelaGarde {
        width: 89%;
        height: 240px; 
        margin-bottom: 25px;
    }
    .imagesactivites {
        Width: 334px;
        height: 190px;
        
    }
    /*FOOTER*/
    .aproposnoshebergementsAssistance {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }

} 
